body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
}

#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #6451ee;
    font-size: 0.7rem;
    border-bottom:2px solid black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding-top: 0;
}

.nav-link{
    padding: 1.4% 1.9%;
    text-decoration: none;
    color: white;
}   

#profile-link{
    color:white;
}

.nav-link:hover{
    background-color: #b4abfa;
}

h1, h2{
        font-family: 'Raleway';
}

#welcome-section{
    background-color:#eaf6ff;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    line-height:23px;
    margin-bottom: 0;
}

.el{
    font-size: 2rem;
}

.ell{
    font-size: 0.7rem;
    font-style: italic;
    text-align: center;
}

#projects{
    background-color:#191158;
    color: white;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 27px;
}

.head{
    border-bottom: 2px solid white;
    display: inline-block;
    font-size: 1rem;
    padding-bottom: 6px;
}

img{
    width:78%;
    height: 31vh;
    margin-bottom: 0;
}

.para{
    position: relative;
  display: inline-block;
  transition: color 0.3s ease;
  font-size: 1rem;
  padding-top: 0;
  margin-top: 0;
}

.para::before,
.para::after {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #e74c3c; 
}

.para::before {
  content: "<";
  font-size: 1.3rem;
  color: #e74c3c;
  transform: translateX(-5px);
}

.para::after {
  content: "/>";
  color: #e74c3c;
  transform: translateX(5px);
}

.para:hover::before,
.para:hover::after {
  opacity: 1;
  transform: translateX(0);
}

#contact{
    background-color:#eaf6ff;
    width: 100%;
    height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:5px solid #6451ee;
}

.wo{
    font-size: 1.5rem;
    font-weight: 800;
}

.space{
    line-height: 100%;
    text-align: center;
}

i{
    font-size: 0.7rem;
}

.contact-links{
    padding-top: 15px;
}

.contact-links a{
    text-decoration: none;
    color: black;
    padding-right:10px;
    font-size: 0.6rem;
    text-align: center;
    
}

footer{
    background-color:#eaf6ff;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
}

footer a{
    text-decoration: none;
    color: black;
}


@media (min-width: 400px) and (max-width: 500px){
    #navbar{
        font-size: 1rem;
    }

    #welcome-section{
        width: 100%;
        height:75vh;
    }

    .el{
    font-size: 2.5rem;
}

    .ell{
        font-size: 1rem;
    }

    .head{
        font-size: 1.5;
    }

    .wo{
    font-size: 2rem;
    }

    i{
    font-size: 1.1rem;
}

}

@media screen and (min-width: 501px){
    
    img{
    width:90%;
    height: 40vh;
    margin-bottom: 0;
}

.wo{
    font-size: 2.5rem;
    }

    i{
    font-size: 1.2rem;
}

    .contact-links a{
        font-size: 1.2rem;
    }

    footer{ 
    font-size: 0.7rem;
    }

}

@media (min-width: 700px){
    #navbar{
        font-size: 1.3rem;
    }

     #welcome-section{
        width: 100%;
        height: 100vh;
    }

    .el{
    font-size: 4rem;
}

    .ell{
        font-size: 2rem;
    }

    .head{
        font-size: 2.5rem;
    }

    .flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 27px;
}

.para{
    font-size: 1.3rem;
}

#contact{
    width: 100%;
    height:70vh;
}

.wo{
    font-size: 4rem;
}

i{
    font-size: 1.3rem;
}

.contact-links a{
    font-size: 1.4rem;
    padding-right:25px;
}

.contact-links{
    padding-top: 30px;
}

footer{
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

}