body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins';
}

#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #6451ee;
    font-size: 1.3rem;
    border-bottom:2px solid black;
    position: fixed;
    width: 100%;
    padding-top: 0;
}

.nav-link{
    padding: 1.4% 1.9%;
 text-decoration: none;
    color: white;
}   

#profile-link{
    color:white;
}

.nav-link:hover{
    background-color: #b4abfa;
}

h1, h2{
        font-family: 'Raleway';
}

#welcome-section{
    background-color:#eaf6ff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    line-height:2px;
    margin-bottom: 0;
}

.el{
    font-size: 4rem;
}

.ell{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

#projects{
    background-color:#191158;
    color: white;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 27px;
}

.head{
    border-bottom: 2px solid white;
    display: inline-block;
    font-size: 2.5rem;
    padding-bottom: 6px;
}

img{
    width:88%;
    height: 40vh;
    margin-bottom: 0;
}

.para{
    position: relative;
  display: inline-block;
  transition: color 0.3s ease;
  font-size: 1.3rem;
  padding-top: 0;
  margin-top: 0;
}

.para::before,
.para::after {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #e74c3c; 
}

.para::before {
  content: "<";
  font-size: 1.3rem;
  color: #e74c3c;
  transform: translateX(-5px);
}

.para::after {
  content: "/>";
  color: #e74c3c;
  transform: translateX(5px);
}

.para:hover::before,
.para:hover::after {
  opacity: 1;
  transform: translateX(0);
}

#contact{
    background-color:#eaf6ff;
    width: 100%;
    height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:5px solid #6451ee;
}

.wo{
    font-size: 4rem;
    font-weight: 800;
}

.space{
    line-height: 100%;
    text-align: center;
}

i{
    font-size: 1.1rem;
}

.contact-links{
    padding-top: 30px;
}

.contact-links a{
    text-decoration: none;
    color: black;
    padding-right:25px;
    font-size: 1.4rem;
    text-align: center;
    
}

footer{
    background-color:#eaf6ff;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;
}

footer a{
    text-decoration: none;
    color: black;
}





